<div class="container">
 <h1>Create a new URL </h1>
 <h3>Please enter the link for which you would like a Rando url, starting with <em>'http://'</em></h3>

<%= form_for @url do |s| %>
	<%= s.text_field :link, placeholder: "link" %> <br>
	
	<%= s.submit %> <br>

<% end %>

</div>

