<div class="container">
  <h1> Your code is: </h1>
    <h3> <%= @url.random_string %> </h3>
    <h3>Go to localhost:3000/urls/go/<%="#{@random_string}"%> to visit your URL.</h3>



<%= render partial: "form_return" %>
</div>


