
<div class="container">
 <h1> User Profile </h1> 
<h3> User Email: <%= @user.email %> </h3>
</div>


<div class= "container">
  <form action="/signout" method="delete">
    <button> Sign Out </button>
  </form>
</div>