// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 h1 {

 font-family: 'Permanent Marker', cursive;
 font-size: 100px;

 }

body {
 background-color: #D8CD1B;	

}

h2 {
 font-family: 'Permanent Marker', cursive;	

}

h3 {
	font-family: 'Convergence', sans-serif;
}